@page "/MapCentred"
@using SkiaSharp.Views.Blazor;
@inject IConfiguration configuration;

<PageTitle>Map, NOW!</PageTitle>

<section id="main">
    <h1>Map developed with CENTRED SHARP</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dolor lectus, elementum nec velit non, gravida lobortis justo. 
        Donec eu pretium eros, a maximus odio. Nulla lobortis facilisis bibendum. Integer rhoncus lacus eu nibh vehicula congue.
        Aenean ac metus nisi. Praesent suscipit lorem sed auctor elementum. Maecenas fringilla, turpis a posuere accumsan, felis nisl 
        venenatis eros, pretium semper lacus libero eu turpis. Donec aliquet nunc ac sagittis fringilla.
    </p>
</section>
<section id="map">
    <img src="StaticFiles/StaticFile/Map/felucca-locations.jpg" alt="default"  style="width:800px;height:500px;">

</section>

@code {
    [Parameter]
    public string MapUrl { get; set; } = string.Empty;

    //public Map CurrentMap { get; private set; }


    protected override void OnInitialized()
    {
        string fileToManage = "StaticFile/map0.mul";



        // string mapFileName = configuration.GetValue<string>("MapSection:FileName", "")??$@"\images\error.jpeg";
        // MapUrl = mapFileName;


    }
}
